# Google Sheets
GOOGLE_SERVICE_ACCOUNT_JSON=  # JSON string of service account credentials
# OR use file path:
GOOGLE_SERVICE_ACCOUNT_FILE= F:\an-nam-data-b6e9af39aeee.json
SPREADSHEET_ID=12xeue-aGLBTiQwKiluoL25J8w4bDUXhMiMOocKGXr1c

# App Settings
SECRET_KEY=your-very-secret-key-change-this
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# Server
HOST=0.0.0.0
PORT=8000
DEBUG=true
